body {
    background: none; /* 移除整體背景圖 */
    color: #fff; /* 確保文字可讀性 */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.main-container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: auto; /* hidden防止內容超出容器範圍 */
}

.image-container {
    flex: 1;  /* 佔據一半寬度 */
    background: url('background.jpg') no-repeat center center; /* 確保路徑正確 */
    background-size: cover;
}

.calculator-container {
    flex: 1;  /* 佔據另一半寬度 */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333; /* 深灰色背景，更接近左邊背景風格 */
}

.container {
    background-color: #444; /* 深灰色背景提升內容區域的清晰度 */
    color: #fff; /* 白色文字提高對比度 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 600px;
}

h1, h2 {
    color: #ddd; /* 淺灰色文字，更符合整體風格 */
}

.calculator {
    background-color: #555; /* 深灰色背景，增加界面層次 */    
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.2);
    background-color: #666; /* 中灰色背景 */
    color: #fff; /* 白色文字 */
    font-size: 24px; /* 更新字體大小為24px */
    box-sizing: border-box; /* 新增此行 */
}

button {
    background-color: #777; /* 深灰色按鈕背景 */
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    bbackground-color: #888; /* 鼠標懸停時更深的灰色 */
}

#profitLossResult, #averageCostResult {
    color: #fff; /* 白色結果文字，增強對比 */
    font-size: 24px; /* 增大結果顯示的字體大小 */
}

.input-group {
    display: flex;
    align-items: center;
    width: 100%; /* 確保輸入組填滿父元素寬度 */
    margin-bottom: 10px;  /* 設置每個輸入組之間的間距 */
}

.input-group label {
    flex: 1; /* 讓標籤和輸入框平分寬度 */
    margin-right: 10px;  /* 設置標籤和輸入欄位之間的間距 */
    color: #fff;  /* 白色文字 */
    font-size: 22px;  /* 增加標籤的字體大小 */
}

.input-group input,
.input-group select {
    flex: 1;  /* 讓輸入欄位填滿剩餘空間 */
    padding: 8px;  /* 調整內邊距以適應更大的字體 */
    font-size: 22px;  /* 增加輸入欄位的字體大小 */
    color: #fff;  /* 白色文字 */
}

button {
    padding: 12px 24px;
    font-size: 22px;
    cursor: pointer;
    background-color: #777; /* 深灰色按鈕背景 */
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #777;
}

.calculator {
    border: 1px solid #777;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.calculator h2 {
    margin-top: 0;
    font-size: 24px;  /* 對標題也進行適當的字體增加 */
}

/* 增加容器的整體寬度以適應側邊標籤 */
.container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

